<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="en">
<head>
    <title>Vacations@Contoso</title>
    <link rel="stylesheet" type="text/css" href="./css/material-components-web.min.css"/>
    <link rel="stylesheet" href="./css/material-icons.css"/>
    <link rel="stylesheet" href="./css/roboto.css">
    <link rel="stylesheet" href="./css/style.css" type="text/css">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
</head>
<body class="mdc-typography">
<div class="navbar">
    <div class="navbar-logo-container">
        <img class="navbar-logo" src="./images/logo_inline.png" alt="Logo">
    </div>
    <div class="navbar-greetings-container">
        <div class="navbar-greetings">
            <b>Hello,
                <img th:src="@{images/active_directory.png}" alt="Active Directory icon"
                     src="../static/images/active_directory.png" width="20" height="20">
                <span th:text="${name}"></span></b>&nbsp;(<span th:text="${email}"></span>)
        </div>
    </div>
    <a class="mdc-button mdc-button--raised sign-out-button" href="login">
        <i class="material-icons mdc-button__icon" aria-hidden="true">exit_to_app</i>
        <span class="mdc-button__label sign-out-label">SIGN OUT</span>
    </a>
</div>
<div class="page-content-navbar-constrained">
    <h1>Your dashboard</h1>
    <div class="control">
        You can request <b><span th:text="${requestableDays}"></span></b> days off out of your <b><span
            th:text="${remainingDays}"></span></b> remaining vacation days.<br>
        (Your quota is set at <b><span th:text="${quota}"></span></b> days.
        <b><span th:text="${approvedDays}"></span></b> days have been approved, <b><span
            th:text="${pendingDays}"></span></b> days are pending approval.)
    </div>
    <div class="control">
        <a href="/request" class="mdc-button mdc-button--raised">
            <i class="material-icons mdc-button__icon" aria-hidden="true">create</i>
            <span class="mdc-button__label">REQUEST VACATION</span>
        </a>
    </div>
    <div class="control" th:if="${manager != null}">
        <a href="/review-subordinates" class="mdc-button mdc-button--raised">
            <i class="material-icons mdc-button__icon" aria-hidden="true">assignment</i>
            <span class="mdc-button__label">RESPOND TO SUBORDINATES' REQUESTS</span>
        </a>
    </div>
    <div class="control">
        <a href="/review" class="mdc-button mdc-button--raised">
            <i class="material-icons mdc-button__icon" aria-hidden="true">assignment_ind</i>
            <span class="mdc-button__label">REVIEW YOUR REQUESTS</span>
        </a>
    </div>
    <div class="control">
        <a href="/public-holidays" class="mdc-button mdc-button--raised">
            <i class="material-icons mdc-button__icon" aria-hidden="true">calendar_today</i>
            <span class="mdc-button__label">CHECK PUBLIC HOLIDAYS</span>
        </a>
    </div>
</div>
</body>
</html>