<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="en">
<head>
    <title>Vacations@Contoso - Error</title>
    <link rel="stylesheet" type="text/css" href="/css/material-components-web.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/material-icons.css"/>
    <link rel="stylesheet" href="/css/roboto.css">
    <script type="text/javascript" src="/js/material-components-web.min.js"></script>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
</head>
<body class="mdc-typography">
<div class="page-content-navbar-constrained">
    <div class="navbar">
        <div class="navbar-logo-container">
            <img class="navbar-logo" src="/images/logo_inline.png" alt="Logo">
        </div>
        <div class="navbar-greetings-container">
            <div class="navbar-greetings">
                <b>Error</b>
            </div>
        </div>
        <a class="mdc-button mdc-button--raised sign-out-button" href="login">
            <i class="material-icons mdc-button__icon" aria-hidden="true">exit_to_app</i>
            <span class="mdc-button__label sign-out-label">SIGN OUT</span>
        </a>
    </div>
    <div class="control">
        <span style="font-size: 72px">:(</span>
        <h1 th:text="${errorHeadline}"></h1>
        <span th:text="${errorDetails}"></span>
    </div>
    <div class="control">
        <a th:href="${errorAnchorHref}" class="mdc-button mdc-button--raised">
            <i class="material-icons mdc-button__icon" aria-hidden="true">keyboard_backspace</i>
            <span class="mdc-button__label" th:text="${errorAnchorText}"></span>
        </a>
    </div>
</div>
</body>
</html>