<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="en">
<head>
    <title>Vacations@Contoso - Respond to request</title>
    <link rel="stylesheet" type="text/css" href="../css/material-components-web.min.css"/>
    <link rel="stylesheet" type="text/css" href="../css/material-icons.css"/>
    <link rel="stylesheet" type="text/css" href="../css/roboto.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
</head>
<body class="mdc-typography">
<div class="navbar">
    <div class="navbar-logo-container">
        <img class="navbar-logo" th:src="@{/images/logo_inline.png}" alt="Logo">
    </div>
    <div class="navbar-greetings-container">
        <div class="navbar-greetings">
            <b>Hello,
                <img th:src="@{../images/active_directory.png}" alt="Active Directory icon" width="20" height="20">
                <span th:text="${name}"></span></b>&nbsp;(<span th:text="${email}"></span>)
        </div>
    </div>
    <a class="mdc-button mdc-button--raised sign-out-button" href="login">
        <i class="material-icons mdc-button__icon" aria-hidden="true">exit_to_app</i>
        <span class="mdc-button__label sign-out-label">SIGN OUT</span>
    </a>
</div>
<div class="page-content-navbar-constrained">
    <h1>Respond to request</h1>
    <div class="control">
        This vacation request has been submitted by <b><span th:text="${request.getEmployee().getFullName()}"></span>
    </b> (<span th:text="${request.getEmployee().getEmail()}"></span>).<br>
        The requester has opted for an out-of-office period:
        <ul>
            <li>effective <b><span th:text="${request.getFormattedStartDate()}"></span></b></li>
            <li>until <b><span th:text="${request.getFormattedEndDate()}"></span></b>, inclusive.</li>
        </ul>
    </div>
    <div class="control">
        <div class="status-with-icon">
            The current status of this request is&nbsp;
            <i th:if="${request.getAggregatedStatus().getName().equals('APPROVED')}" class="material-icons"
               aria-hidden="true">check</i>
            <i th:if="${request.getAggregatedStatus().getName().equals('DECLINED')}" class="material-icons"
               aria-hidden="true">close</i>
            <i th:if="${request.getAggregatedStatus().getName().equals('PENDING')}" class="material-icons"
               aria-hidden="true">hourglass_empty</i>
        <span th:text="${request.getAggregatedStatus().getName()}"></span>.<br>
        </div>
    </div>
    <div class="control">
        The managers of the requester have responded as following:<br>
        <ul th:each="approval: ${allApprovals}">
            <li><b><span th:text="${approval.getManager().getEmployee().getFullName()}"></span></b>&nbsp;(<span
                    th:text="${approval.getManager().getEmployee().getEmail()}"></span>)&nbsp;<span
                    th:if="${approval.getStatus().getName().equals('APPROVED')}">has approved the request.</span><span
                    th:if="${approval.getStatus().getName().equals('DECLINED')}">has declined the request.</span><span
                    th:if="${approval.getStatus().getName().equals('PENDING')}">hasn't responded to the request.</span>
            </li>
        </ul>
        Note that <b>failure to respond within 2 days</b> before the OOO period would come into effect means <b>declining
        the request</b> on your behalf.
    </div>
    <div th:if="${request.getAggregatedStatus().getName().equals('PENDING') and approval.getStatus().getName().equals('PENDING')}"
         class="control">
        Please state your response:&nbsp;&nbsp;
        <a class="mdc-button mdc-button--raised" th:href="@{'approve/' + ${approval.getId()}}">
            <i class="material-icons mdc-button__icon" aria-hidden="true">check</i>
            <span class="mdc-button__label sign-out-label">APPROVE</span>
        </a>
        <a class="mdc-button mdc-button--raised" th:href="@{'decline/' + ${approval.getId()}}">
            <i class="material-icons mdc-button__icon" aria-hidden="true">close</i>
            <span class="mdc-button__label sign-out-label">DECLINE</span>
        </a>
        &nbsp;&nbsp;Otherwise, &nbsp;&nbsp;
        <a class="mdc-button mdc-button--raised" href="/review-subordinates">
            <span class="mdc-button__label sign-out-label">CANCEL</span>
        </a>
        .
    </div>
    <div th:if="${!approval.getStatus().getName().equals('PENDING')}" class="control">
        Your response has already been submitted.
    </div>
    <div th:if="${!request.getAggregatedStatus().getName().equals('PENDING')}" class="control">
        <div class="control">
            <a class="mdc-button mdc-button--raised" href="/review-subordinates">
                <span class="mdc-button__label sign-out-label">CLOSE</span>
            </a>
        </div>
    </div>
</div>
</body>
</html>