<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="en">
<head>
    <title>Vacations@Contoso - Review your requests</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/material-components-web.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/material-icons.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/roboto.css}"/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
</head>
<body class="mdc-typography">
<div class="navbar">
    <div class="navbar-logo-container">
        <img class="navbar-logo" th:src="@{/images/logo_inline.png}" alt="Logo">
    </div>
    <div class="navbar-greetings-container">
        <div class="navbar-greetings">
            <b>Hello,
                <img th:src="@{/images/active_directory.png}" alt="Active Directory icon" width="20" height="20">
                <span th:text="${name}"></span></b>&nbsp;(<span th:text="${email}"></span>)
        </div>
    </div>
    <a class="mdc-button mdc-button--raised sign-out-button" href="https://login.microsoftonline.com/17bbdfed-a2bb-43a5-9087-16ee91370465/oauth2/logout?post_logout_redirect_uri=http%3A%2F%2Flocalhost%3A8080%2Flogout">
        <i class="material-icons mdc-button__icon" aria-hidden="true">exit_to_app</i>
        <span class="mdc-button__label sign-out-label">SIGN OUT</span>
    </a>
</div>
<div class="page-content-navbar-constrained">
    <h1>Review your requests</h1>
    <div class="control">
        <a href="/dashboard" class="mdc-button mdc-button--raised">
            <i class="material-icons mdc-button__icon" aria-hidden="true">arrow_back</i>
            <span class="mdc-button__label">BACK TO DASHBOARD</span>
        </a>
    </div>
    <div class="mdc-data-table">
        <div class="mdc-data-table__table-container">
            <table class="mdc-data-table__table" aria-label="Dessert calories">
                <thead>
                <tr class="mdc-data-table__header-row">
                    <th class="mdc-data-table__header-cell" role="columnheader" scope="col">EFFECTIVE &#x25BC;</th>
                    <th class="mdc-data-table__header-cell" role="columnheader" scope="col">UNTIL</th>
                    <th class="mdc-data-table__header-cell" role="columnheader" scope="col">STATUS</th>
                </tr>
                </thead>
                <tbody class="mdc-data-table__content">
                <tr th:each="request: ${requests}" class="mdc-data-table__row">
                    <th th:text="${request.getFormattedStartDate()}" class="mdc-data-table__cell" scope="row"></th>
                    <td th:text="${request.getFormattedEndDate()}" class="mdc-data-table__cell"></td>
                    <td class="mdc-data-table__cell">
                        <div class="status-with-icon">
                            <i th:if="${request.getAggregatedStatus().getName().equals('APPROVED')}"
                               class="material-icons"
                               aria-hidden="true">check</i>
                            <i th:if="${request.getAggregatedStatus().getName().equals('DECLINED')}"
                               class="material-icons"
                               aria-hidden="true">close</i>
                            <i th:if="${request.getAggregatedStatus().getName().equals('PENDING')}"
                               class="material-icons"
                               aria-hidden="true">hourglass_empty</i>
                            <span th:text="${request.getAggregatedStatus().getName()}"></span>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>